# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)
numerical_variables_df = applicant_data_df.drop(columns= categorical_variables)
# Display the categorical variables list
display(categorical_variables)
display(numerical_variables_df.head())

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 2

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="linear"))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 936

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 2)                 10

=================================================================
Total params: 982
Trainable params: 982
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 6s 6ms/step - loss: 3.1261 - accuracy: 0.5779
Epoch 2/50
804/804 [==============================] - 6s 7ms/step - loss: 1.0387 - accuracy: 0.5555
Epoch 3/50
804/804 [==============================] - 6s 7ms/step - loss: 0.7529 - accuracy: 0.4689
Epoch 4/50
804/804 [==============================] - 6s 8ms/step - loss: 0.6864 - accuracy: 0.4203
Epoch 5/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6743 - accuracy: 0.3923
Epoch 6/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6483 - accuracy: 0.3384
Epoch 7/50
804/804 [==============================] - 6s 8ms/step - loss: 0.6383 - accuracy: 0.4360
Epoch 8/50
804/804 [==============================] - 6s 8ms/step - loss: 0.6315 - accuracy: 0.4011
Epoch 9/50
804/804 [==============================] - 6s 8ms/step - loss: 0.6198 - accuracy: 0.4375
Epoch 10/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6087 - accuracy: 0.3929
Epoch 11/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6075 - accuracy: 0.4898
Epoch 12/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6012 - accuracy: 0.4416
Epoch 13/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5987 - accuracy: 0.3053
Epoch 14/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5986 - accuracy: 0.4044
Epoch 15/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5962 - accuracy: 0.6296
Epoch 16/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5960 - accuracy: 0.6545
Epoch 17/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5999 - accuracy: 0.5894
Epoch 18/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5995 - accuracy: 0.4189
Epoch 19/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5984 - accuracy: 0.4172
Epoch 20/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5999 - accuracy: 0.5751
Epoch 21/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5979 - accuracy: 0.5594
Epoch 22/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5924 - accuracy: 0.5508
Epoch 23/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5887 - accuracy: 0.6153
Epoch 24/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5854 - accuracy: 0.4242
Epoch 25/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5866 - accuracy: 0.4463
Epoch 26/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5823 - accuracy: 0.4275
Epoch 27/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5850 - accuracy: 0.4830
Epoch 28/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5868 - accuracy: 0.5143
Epoch 29/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5817 - accuracy: 0.4120
Epoch 30/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5810 - accuracy: 0.4481
Epoch 31/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5794 - accuracy: 0.5209
Epoch 32/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5785 - accuracy: 0.4006
Epoch 33/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5808 - accuracy: 0.4207
Epoch 34/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5778 - accuracy: 0.4700
Epoch 35/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5818 - accuracy: 0.5472
Epoch 36/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5839 - accuracy: 0.5059
Epoch 37/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5783 - accuracy: 0.4857
Epoch 38/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5773 - accuracy: 0.4878
Epoch 39/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5769 - accuracy: 0.5524
Epoch 40/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5772 - accuracy: 0.5669
Epoch 41/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5763 - accuracy: 0.5371
Epoch 42/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5802 - accuracy: 0.5853
Epoch 43/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5768 - accuracy: 0.4677
Epoch 44/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5802 - accuracy: 0.4348
Epoch 45/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5754 - accuracy: 0.3667
Epoch 46/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5751 - accuracy: 0.4773
Epoch 47/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5778 - accuracy: 0.4668
Epoch 48/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5769 - accuracy: 0.5256
Epoch 49/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5743 - accuracy: 0.5163
Epoch 50/50
804/804 [==============================] - 6s 8ms/step - loss: 0.5722 - accuracy: 0.4469

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [32]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
    X_train_scaled, y_train, verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

804/804 - 3s - loss: 0.5765 - accuracy: 0.4547 - 3s/epoch - 4ms/step
Loss: 0.5765297412872314, Accuracy: 0.45471155643463135

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [33]:
# Set the model's file path
file_path = "./Resources/model.hdf5"

# Export your model to a HDF5 file
nn.save_weights(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [34]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 3

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 3

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

3

In [37]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [38]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="linear"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 3)                 351

 dense_4 (Dense)             (None, 3)                 12

=================================================================
Total params: 363
Trainable params: 363
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [40]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 6s 7ms/step - loss: 2.9765 - accuracy: 0.4000
Epoch 2/50
804/804 [==============================] - 6s 7ms/step - loss: 1.4595 - accuracy: 0.4416
Epoch 3/50
804/804 [==============================] - 6s 7ms/step - loss: 1.0899 - accuracy: 0.4387
Epoch 4/50
804/804 [==============================] - 5s 7ms/step - loss: 0.9938 - accuracy: 0.4389
Epoch 5/50
804/804 [==============================] - 6s 7ms/step - loss: 0.9143 - accuracy: 0.3667
Epoch 6/50
804/804 [==============================] - 5s 6ms/step - loss: 0.8520 - accuracy: 0.3795
Epoch 7/50
804/804 [==============================] - 5s 7ms/step - loss: 0.7940 - accuracy: 0.3853
Epoch 8/50
804/804 [==============================] - 6s 7ms/step - loss: 0.7751 - accuracy: 0.4026
Epoch 9/50
804/804 [==============================] - 6s 7ms/step - loss: 0.7444 - accuracy: 0.4893
Epoch 10/50
804/804 [==============================] - 6s 7ms/step - loss: 0.7169 - accuracy: 0.5924
Epoch 11/50
804/804 [==============================] - 5s 7ms/step - loss: 0.7098 - accuracy: 0.5650
Epoch 12/50
804/804 [==============================] - 6s 7ms/step - loss: 0.7008 - accuracy: 0.5929
Epoch 13/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6909 - accuracy: 0.5103
Epoch 14/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6873 - accuracy: 0.4271
Epoch 15/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6891 - accuracy: 0.4633
Epoch 16/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6880 - accuracy: 0.4063
Epoch 17/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6845 - accuracy: 0.4892
Epoch 18/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6839 - accuracy: 0.5086
Epoch 19/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6881 - accuracy: 0.4493
Epoch 20/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6864 - accuracy: 0.4449
Epoch 21/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6823 - accuracy: 0.3680
Epoch 22/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6821 - accuracy: 0.3617
Epoch 23/50
804/804 [==============================] - 6s 8ms/step - loss: 0.6868 - accuracy: 0.3026
Epoch 24/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6820 - accuracy: 0.3018
Epoch 25/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6803 - accuracy: 0.4098
Epoch 26/50
804/804 [==============================] - 6s 7ms/step - loss: 0.7123 - accuracy: 0.2136
Epoch 27/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6847 - accuracy: 0.2976
Epoch 28/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6822 - accuracy: 0.4706
Epoch 29/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6782 - accuracy: 0.4849
Epoch 30/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6803 - accuracy: 0.3819
Epoch 31/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6776 - accuracy: 0.2568
Epoch 32/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6710 - accuracy: 0.1992
Epoch 33/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6693 - accuracy: 0.1767
Epoch 34/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6626 - accuracy: 0.2679
Epoch 35/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6533 - accuracy: 0.4007
Epoch 36/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6510 - accuracy: 0.3311
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6533 - accuracy: 0.2637
Epoch 38/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6413 - accuracy: 0.2316
Epoch 39/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6409 - accuracy: 0.3555
Epoch 40/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6387 - accuracy: 0.4556
Epoch 41/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6371 - accuracy: 0.4419
Epoch 42/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6312 - accuracy: 0.3943
Epoch 43/50
804/804 [==============================] - 5s 6ms/step - loss: 0.6273 - accuracy: 0.3544
Epoch 44/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6255 - accuracy: 0.3582
Epoch 45/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6241 - accuracy: 0.4319
Epoch 46/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6254 - accuracy: 0.4086
Epoch 47/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6296 - accuracy: 0.4364
Epoch 48/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6274 - accuracy: 0.4313
Epoch 49/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6202 - accuracy: 0.4591
Epoch 50/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6213 - accuracy: 0.4774

#### Alternative Model 2

In [41]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [42]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 12

In [43]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 8

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

8

In [44]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [45]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 8)                 936

 dense_6 (Dense)             (None, 12)                108

=================================================================
Total params: 1,044
Trainable params: 1,044
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [47]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 6s 7ms/step - loss: 2.7254 - accuracy: 0.0666
Epoch 2/50
804/804 [==============================] - 5s 7ms/step - loss: 1.1406 - accuracy: 0.0741
Epoch 3/50
804/804 [==============================] - 5s 7ms/step - loss: 0.7968 - accuracy: 0.1542
Epoch 4/50
804/804 [==============================] - 6s 7ms/step - loss: 0.7422 - accuracy: 0.1784
Epoch 5/50
804/804 [==============================] - 5s 7ms/step - loss: 0.7158 - accuracy: 0.1529
Epoch 6/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6910 - accuracy: 0.1611
Epoch 7/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6883 - accuracy: 0.0938
Epoch 8/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6855 - accuracy: 0.1403
Epoch 9/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6641 - accuracy: 0.0512
Epoch 10/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6629 - accuracy: 0.1712
Epoch 11/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6506 - accuracy: 0.2115
Epoch 12/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6420 - accuracy: 0.2797
Epoch 13/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6512 - accuracy: 0.2245
Epoch 14/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6458 - accuracy: 0.2086
Epoch 15/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6312 - accuracy: 0.1751
Epoch 16/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6252 - accuracy: 0.1634
Epoch 17/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6207 - accuracy: 0.1179
Epoch 18/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6163 - accuracy: 0.0432
Epoch 19/50
804/804 [==============================] - 6s 7ms/step - loss: 0.6092 - accuracy: 0.1113
Epoch 20/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6028 - accuracy: 0.0680
Epoch 21/50
804/804 [==============================] - 5s 7ms/step - loss: 0.6000 - accuracy: 0.0502
Epoch 22/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5963 - accuracy: 0.0407
Epoch 23/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5938 - accuracy: 0.0722
Epoch 24/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5915 - accuracy: 0.0571
Epoch 25/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5938 - accuracy: 0.0324
Epoch 26/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5891 - accuracy: 0.0628
Epoch 27/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5875 - accuracy: 0.0362
Epoch 28/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5849 - accuracy: 0.0552
Epoch 29/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5873 - accuracy: 0.0250
Epoch 30/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5896 - accuracy: 0.0622
Epoch 31/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5874 - accuracy: 0.0511
Epoch 32/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5868 - accuracy: 0.0266
Epoch 33/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5879 - accuracy: 0.0549
Epoch 34/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5873 - accuracy: 0.0912
Epoch 35/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5862 - accuracy: 0.0856
Epoch 36/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5854 - accuracy: 0.1850
Epoch 37/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5860 - accuracy: 0.1459
Epoch 38/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5853 - accuracy: 0.1162
Epoch 39/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5849 - accuracy: 0.0420
Epoch 40/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5904 - accuracy: 0.0845
Epoch 41/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5848 - accuracy: 0.2194
Epoch 42/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5871 - accuracy: 0.1269
Epoch 43/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5857 - accuracy: 0.0688
Epoch 44/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5844 - accuracy: 0.0811
Epoch 45/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5839 - accuracy: 0.1405
Epoch 46/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5830 - accuracy: 0.1193
Epoch 47/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5875 - accuracy: 0.0767
Epoch 48/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5871 - accuracy: 0.1080
Epoch 49/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5835 - accuracy: 0.0642
Epoch 50/50
804/804 [==============================] - 6s 7ms/step - loss: 0.5820 - accuracy: 0.0444

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [48]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
    X_train_scaled, y_train, verbose=2
)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
804/804 - 3s - loss: 0.5765 - accuracy: 0.4547 - 3s/epoch - 4ms/step
Loss: 0.5765297412872314, Accuracy: 0.45471155643463135

In [49]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(
    X_train_scaled, y_train, verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
804/804 - 3s - loss: 0.6200 - accuracy: 0.6148 - 3s/epoch - 4ms/step
Loss: 0.6200239658355713, Accuracy: 0.6148343682289124

In [50]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(
    X_train_scaled, y_train, verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
804/804 - 3s - loss: 0.5792 - accuracy: 0.0462 - 3s/epoch - 4ms/step
Loss: 0.5792359113693237, Accuracy: 0.046182554215192795

### Step 3: Save each of your alternative models as an HDF5 file.

In [51]:
# Set the file path for the first alternative model
file_path = "./Resources/model_A1.hdf5"

# Export your model to a HDF5 file
nn_A1.save_weights(file_path)

In [52]:
# Set the file path for the second alternative model
file_path = "./Resources/model_A2.hdf5"

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)